 @media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }

  .header-link.current::after {
    top: 44px;
  }

  .header-address {
    font-style: normal;
    flex-direction: unset;
    gap: 40px;
}

.header-address-item {
    font-size: 16px;
    line-height: 1.5;
}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-color: #2E2F42;
    background-image: linear-gradient(
       rgba(46, 47, 66, 0.7), 
       rgba(46, 47, 66, 0.7)
       ), url(../images/hero-bg.jpg);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 524px;
    margin: 0 auto 48px;
    } 

.values {
    padding-top: 120px;
    padding-bottom: 120px;
}

.values-list {
    display: flex;
    gap: 24px;
}

.values-item {
    max-width: 264px;
    height: 112px;
    margin-bottom: 72px;
}

.values-block-icon {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    background: #F4F4FD;
    justify-content: center;
    align-items: center;
}

.values-subtitle {
    font-size: 20px;
   
}

.values-text {
    font-size: 16px;
    }

.doing {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.doing-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-color-title, #2E2F42);
    margin-bottom: 72px;
    text-align: center;
}
    
.doing-list {
    display: flex;
    gap:24px;
    } 

.team > .container {
    max-width: 1200px;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-item {
    width: calc((100% - 72px) / 4);
}

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
 
.customers-list {
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
   }

.footer-container {
    display: flex;
    flex-direction: unset;
    
}
.footer-logo {
margin-right: 120px;
margin-bottom: 0;
}

.footer-tablet-nav{
    margin-bottom: 0;
}

.footer-subtitle {
  
    text-align: start;
}

.footer-soc-list {
    margin-bottom: 0;
}

.footer-subscribe{
   margin-left: 80px;
    }

.subscribe-title{
    text-align: start;
}

.subscribe-form{
    flex-direction: unset;
    align-items: center;
          }

.subscribe-input{
       width: 264px;
       margin-right: 24px;
       }

       .btn-subscribe{
        margin-top: 0;
       }
 }