@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;

  }
  
.hero {
    max-width: 768px;
    background-image: linear-gradient(
       rgba(46, 47, 66, 0.7), 
       rgba(46, 47, 66, 0.7)
       ), url(../images/hero-bg.jpg);
}

.modal {
    width: 408px;
   }

.values-item {
width: calc((100% - 24px) / 2);
}


.team-item {
    width: calc((100% - 24px) / 2);
}

.team > .container {
    max-width: 584px;
}

.team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

.team-item {
    width: calc((100% - 24px) / 2);
    }
    
.customers-list {
    column-gap: 24px;
    }

.customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
    }
}